@font-face {
  font-family: 'Russo One';
  font-style: normal;
  font-weight: 400;
  src: url("../../fonts/Russo One/russo-one-v6-latin_cyrillic-regular.eot");
  src: local("Russo One"), local("RussoOne-Regular"), url("../../fonts/Russo One/russo-one-v6-latin_cyrillic-regular.eot?#iefix") format("embedded-opentype"), url("../../fonts/Russo One/russo-one-v6-latin_cyrillic-regular.woff2") format("woff2"), url("../../fonts/Russo One/russo-one-v6-latin_cyrillic-regular.woff") format("woff"), url("../../fonts/Russo One/russo-one-v6-latin_cyrillic-regular.ttf") format("truetype"), url("../../fonts/Russo One/russo-one-v6-latin_cyrillic-regular.svg#RussoOne") format("svg"); }
